.p-organizationchart {
    .p-organizationchart-node-content {
        border: 1px solid #ccc;
        border-radius: 10px;
    }
    .p-organizationchart-line-down {
        border-left: 3px dotted #aaa;
    }

    .p-organizationchart-line-top {
        border-top: 3px dotted #aaa;
    }

    .p-organizationchart-line-right {
        border-left: 2px dotted #aaa;
    }
    .p-organizationchart-line-left {
        border-right: 2px dotted #aaa;
    }
}
.parser-node-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    .parser-node-item_expression {
        display: flex;
        flex-direction: row;
        align-content: flex-baseline;
        align-items: center;
        gap: 0.25rem;
        font-size: 1.25rem;
        color: var(--surface-600);
        margin-top: 0.25rem;
        .parser-node-item_executing-order {
            color: var(--surface-0);
            background-color: var(--pink-700);
            padding-top: 0.15rem;
            height: 2rem;
            width: 2rem;
            border-radius: 1rem;
        }
    }
}
